:root{
    --principal: #47cfac;
    --hero_color: #e6e9ed;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');
body{
    margin: 0;
    padding: 0;
  
    font-family: 'Roboto Mono', monospace;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--principal);
}
.header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 50px;
}
header .icons span{
    color: white;
    font-size: 2rem;
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
.nav-logo-container{
    margin-left: 50px;
}
.nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
.profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-weight: 700;
    
}
.profile-link a{
    color: black;
    border-bottom: 1px solid black;
}
.hero{
    position: relative;
;
}
.cover{
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/img/Cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.hero-title{
    width: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 212px;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    text-align: center;
   
}
.hero-title h1{
    color: white;
    font-size: 3rem;
    letter-spacing: 15px;
    font-family: 'Roboto Mono', monospace;
}
.hero-title button{
    color: black;
    
    margin-top: 200px;
    padding: 30px 50px;
    background-color: var(--principal);
    border: 1px solid black;
    
}
.hero-title a{
    font-weight: 700;
    font-size: 25px;
}

/* Blog */
.blogs-main{
    display: grid;
}
.blogs-news-container{
    background-color: var(--hero_color);
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container{
    grid-column: 1;
}
.blogs-news-img-container img{
    width: 80%;
}
.blogs-news-info-container{
    grid-column: 2;
}
.blogs-news-info-container p{
    margin-bottom: 35px;
}
.blogs-posts-container{
    padding: 0 50px 40px;
}
.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}